.popup__container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 430px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);;
}
@media screen and (max-width: 400px) {
    .popup__container {
            height: 322px;
            width: 282px;
        }
}
